/* Header */
.dark .header {
    background: rgba(15, 27, 48, 0.3);
}

.dark .menugroup {
    background: rgba(58, 35, 109, 0.3);
}

.dark .ps-room.ps-room-light,
.dark .tournament-box,
.dark .tournament-status,
.dark .tournament-toggle,
.dark .pm-log-add {
    background: rgba(12, 0, 41, 0.5);
    color: #f3f3f3;
}

.dark .ps-room {
    border-left: 1px solid #c5acff;
    background: rgba(12, 0, 41, 0.4);
}

.dark .userlist {
    border-right: 1px solid #c4aaff
}

.dark .userlist strong,
.dark .userlist span {
    text-shadow: 0 0 20px #4b00ff, 0 0 20px #0c0029;
}

.dark .chat .username {
    text-shadow:  0 0 20px #0c0029;
}
.dark .userlist li button {
    transition: .5s;
}

.dark .userlist li button:hover {
    background: rgba(36, 0, 123, 0.3);
}

.dark .chat-log {
    background: rgba(12, 0, 41, 0.2);
    color: #ddd;
}

.dark .chatbox label {
    text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000;
}

.dark .chat small {
    color: #dbcbff;
}

.dark .message small {
    color: #e5d8ff !important;
}

.dark .message-pm {
    color: #a5a0ff;
}

.dark .infobox {
    border: 1px solid #c5acff;
}

.dark .infobox span {
    border: 1px solid #92ea92 !important;
    color: #5dbb5d !important;
}

.dark .tournament-wrapper,
.dark .tournament-box,
.dark .tournament-toggle {
    border-color: #c5acff;
}

.dark .tournament-box,
.dark .tournament-toggle {
    border-right: none;
}

.dark .tournament-title {
    background: rgba(12, 0, 41, 0.2);
}

.dark .tournament-bracket-tree-link {
    stroke: #c5acff;
}

.dark .tournament-bracket-tree-node > rect {
    fill: #d5c3ff;
    stroke: #c5acff;
    color: black;
}

.dark .tournament-bracket-tree-node-win > rect,
.dark .tournament-bracket-tree-node-match-result-win > rect {
    fill: rgba(168, 255, 168, 0.8);
    stroke: rgba(0, 128, 0, 0.7);
    color: black;
}

.dark .tournament-bracket-tree-node-loss > rect,
.dark .tournament-bracket-tree-node-match-result-loss > rect  {
    fill: rgba(253, 164, 164, 0.8);
    stroke: rgba(255, 40, 40, 0.7);
    color: black;
}

.dark .textbox,
.dark .textbox:hover {
    border-color: #45386f;
    box-shadow: none;
    background: rgba(12, 0, 41, 0.2);
    color: #ddd;
}

.dark .textbox:focus {
    background: rgba(12, 0, 41, 0.2);
}

.dark .textbox:focus {
    border-color: #45386f;
    box-shadow: 0 0 4px #c3a7ff, 0 0 4px #c3a7ff;
}

.dark ::-webkit-input-placeholder {
    color: #ddd;
}

.dark a,
.dark a.ilink,
.dark .message-announce a,
.dark .broadcast-green a,
.dark .broadcast-blue a,
.dark .broadcast-red a {
    color: #b9a2ff;
    text-shadow: 0 -15px 2.5px transparent, 0 15px 2.5px transparent;
    text-decoration: none;
}

.dark a:hover,
.dark a.ilink:hover,
.dark .message-announce a:hover,
.dark .broadcast-green a:hover,
.dark .broadcast-blue a:hover,
.dark .broadcast-red a:hover  {
    text-shadow: 0 0 2.5px #8d67ff, 0 0 2.5px #8d67ff;
    color: #baa4ff !important;
    text-decoration: none;
    -webkit-transition: all .4s linear 0s;
    -moz-transition: all .4s linear 0s;
    -ms-transition: all .4s linear 0s;
    -o-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
}

/* Chat */
.dark .pm-window h3 {
    border: 1px solid  #c6aeff;
    background: rgb(27, 6, 78);
    color: #ddd;
}

.dark .pm-window h3.pm-notifying,
.dark .pm-window.focused h3 {
    background: #d7c7ff;
    border-color: #6638ff;
    color: #1a0251;
}

.dark .pm-window.focused .pm-log,
.dark .pm-window.focused .pm-log-add {
    border-color: #c6aeff;
}

.dark .pm-window.focused h3:hover,
.dark .pm-window h3.pm-notifying:hover {
    background: #e5daff;
    border-color: #6638ff;
    color: #1a0251;
}

.dark .pm-log,
.dark .pm-log-add {
    border-color: #c6aeff;
}

.dark .pm-log {
    background: rgba(12, 0, 41, 0.7);
    color: #ddd;
}

.dark .chat.mine {
    background: rgba(255, 255, 255, 0.03);
}

.dark .challenge {
    background: rgba(196, 170, 255, 0.5);
    border: 1px solid #c4aaff;
    color: #2f1b64;
}

.dark .newsentry.unread {
    background: rgba(170, 133, 255, 0.5);
}

.dark .minimizebutton:hover, 
.dark .pm-window h3:hover .minimizebutton,
.dark .closebutton:hover,
.dark .pm-window h3 .closebutton:hover + .minimizebutton {
    color: #947ae9 !important;
}

/* Buttons */
.dark .roomlist a.ilink {
    border-color: #9a81d5;
    background: rgba(27, 6, 78, 0.4);
    color: #c7b0ff;
    transition: .5s;
}

.dark .roomlist a.ilink:hover {
    border-color: #c6aeff;
    background: rgba(27, 6, 78, 0.3);
    color: #dbcbff;
}

.dark .userlist li {
    border-bottom-color: #987fdb;
}

.dark .tabbar a.button.notifying {
    background: #c5acff !important; 
    border-color: #947ae9 !important; 
    color: #534c6a;
}

.dark .tabbar a.button.notifying:hover {
    background: #e0d2ff !important;
    color: #534c6a;
}

.dark .message-announce {
    background: rgba(26, 2, 81, 0.7);
    color: #e1d3ff;
    padding: 1px 4px 2px;
}

.dark a.button:visited {
    color: #c4aaff;
}

.dark .tabbar .button,
.dark .tabbar a.button,
.dark .battleform .buttonbar button,
.dark .roomlist .button,
.dark .popupmenu button.button,
.dark .userbar button,
.dark .pad button,
.dark .ps-popup button,
.dark .ps-room .button,
.dark .teampane button:not([name=edit]):not([name=newTop]):not([name=delete]),
.dark .teampane p button,
.dark .teamchart button.big,
.dark .format-select button,
.dark .pm-log button,
.dark .chat-log button,
.dark .chat-log-add button,
.dark .challenge .buttonbar button,
.dark .suggested button,
.dark .statform select,
.dark .ps-popup select,
.dark .ps-popup input,
.dark .ps-popup .button,
.dark .battle-log button,
.dark .battle-controls button,
.dark .battle-chat-toggle,
.dark .switchmenu button,
.dark .switchselect button,
.dark .whatdo button,
.dark .controls .button,
.dark .movemenu label {
    background: rgba(27, 6, 78, 0.5);
    border-color: #987fdb;
    transition: .5s;
    color: #c4aaff;
    box-shadow: none;
}

.dark .tabbar .button:hover,
.dark .tabbar a.button:hover,
.dark .battleform .buttonbar button:hover,
.dark .roomlist .button:hover,
.dark .popupmenu button:hover,
.dark .userbar button:hover,
.dark .pad button:hover,
.dark .ps-popup button:hover,
.dark .ps-room .button:hover,
.dark .teampane button:not([name=edit]):not([name=newTop]):not([name=delete]):hover,
.dark .teampane p button:hover,
.dark .teamchart button.big:hover,
.dark .format-select button:hover,
.dark .pm-log button:hover,
.dark .chat-log button:hover,
.dark .chat-log-add button:hover,
.dark .challenge .buttonbar button:hover,
.dark .setmenu button:hover,
.dark .suggested button:hover,
.dark .statform select:hover,
.dark .ps-popup select:hover,
.dark .ps-popup .button:hover,
.dark .battle-log button:hover,
.dark .battle-controls button:hover,
.dark .battle-chat-toggle:hover,
.dark .switchmenu button:hover,
.dark .switchselect button:hover,
.dark .whatdo button:hover,
.dark .controls .button:hover,
.dark .movemenu label:hover {
    background: rgba(27, 6, 78, 0.9);
    border-color: #b698fb;
}

.dark .bglist button:hover {
    color: #dbcbff;
}

.dark .button:focus {
    border-color: #45386f;
    box-shadow: 0 0 4px #c3a7ff, 0 0 4px #c3a7ff;
}

.dark button:not(.userbutton) {
    border-radius: 5px;
}

/* For Team Select */
.dark .ps-popup button.sel {
    border-color: #c6aeff !important;
    background: rgba(27, 6, 78, 0.3);
    color: #dbcbff !important;
}

.dark .ps-popup button[name="selectTeam"],
.dark .ps-popup button[name="selectFormat"] {
    border-color: transparent;
    background: transparent;
}

.dark .ps-popup button[name="selectTeam"]:hover,
.dark .ps-popup button[name="selectFormat"]:hover,
.dark .teamlist button:hover {
    border-color: #c6aeff;
    background: rgba(27, 6, 78, 0.3);
    color: #dbcbff;
}

.dark .tabbar a.button.subtle-notifying {
    color: #dccdff;
}

.dark button {
    color: #c6aeff;
}

.dark .maintabbarbottom {
    background: rgba(27, 6, 78, 0.6);
    border-color: #c6aeff;
}

.dark .button.cur,
.dark .button.cur:hover,
.dark .tabbar a.button.cur,
.dark .tabbar a.button.cur:hover {
    background: rgba(27, 6, 78, 0.6);
    border-color: #c6aeff;
}

.dark .select:hover,
.dark .team.team-hover {
    border-color: #c6aeff;
    background: rgba(27, 6, 78, 0.3);
    color: #dbcbff;
}

.dark .select:disabled {
    border-color: #c5acff;
    background: rgba(27, 6, 78, 0.5);
    color: #d1bdff;
}

.dark .teamselect:disabled strong {
    color: #d1bdff;
}

.dark .select, .dark .team {
    border-color: #c6aeff;
    background: rgba(27, 6, 78, 0.6);
    color: #fff;
}

.dark .ps-popup {
    background: rgba(12, 0, 41, 0.75);
    color: #ddd;
    border-color: #9a81d5;
    box-shadow: 2px 2px 3px rgba(12, 0, 41, 0.2);
}

.dark .popupmenu h3 {
    color: #d9caff;
}

/* Teambuilder */
.dark .folderpane {
    border-left-color: rgba(12, 0, 41, 0.3);
}

.dark .folderlist .foldersep:before,
.dark .folderlistafter:before,
.dark .folderlistbefore:before,
.dark .folderpane h3,
.dark .folder .selectFolder,
.dark .folderhack1,
.dark .folderhack2 {
    background: rgba(12, 0, 41, 0.3);
    color: #ddd;
}

.dark .folder .selectFolder,
.dark .folderlist .foldersep:before,
.dark .folderlistafter:before, 
.dark .folderlistbefore:before,
.dark .folderpane h3 {
    border-right: 1px solid #967de2;
}

.dark .folder .selectFolder:hover {
    background: rgba(27, 6, 78, 0.2);
}

.dark .folder.cur .selectFolder:hover {
    background: transparent;
}

.dark .folder.cur .selectFolder,
.dark .folder.cur .selectFolder:hover,
.dark .folder.cur .selectFolder:active {
    border-top: 1px solid #947ae9;
    border-bottom: 1px solid #947ae9;
    border-left: 1px solid #947ae9;
    border-right: 0;
}

/* In the actual team */
.dark .setchart, 
.dark .setchart-nickname {
    background-color: rgba(27, 6, 78, 0.5);
    box-shadow: none;
    border: 1px solid #443773;
}

.dark .setchart label,
.dark .setchart-nickname label,
.dark .setchart .statrow-head em {
    color: #d7caff;
}

.dark .teamchartbox {
    border-top: 1px solid #c5acff;
}

.dark .utilichart .sortrow {
    background: rgba(66, 51, 123, 0.8);
    color: #f1f1f1;
    border: 1px solid #c5acff;
}

.dark .utilichart .sortcol {
    color: #f1f1f1;
}

.dark .utilichart .sortcol.numsortcol.cur,
.dark .utilichart .sortcol.numsortcol.cur:hover {
    background: rgba(148, 122, 233, 0.3);
    cursor: default;
    color: #f1f1f1;
}

.dark .utilichart .sortcol:hover {
    background: rgba(148, 122, 233, 0.3);
}

.dark .utilichart .sortcol.cur {
    background: rgba(196, 170, 255, 0.3);
}

.dark .setcol-icon label {
    text-shadow: #1b124e 1px 1px 0, #1b124e 1px -1px 0, #1b124e -1px 1px 0, #1b124e -1px -1px 0;
}

.dark .setdetails .detailcell {
    border-left: 1px solid #433677;
}

.dark .teambar button {
    background: rgba(27, 6, 78, 0.5);
    color: #f1f1f1;
    border: 1px solid #433677;
}

.dark .teambar button:disabled,
.dark .teambar button:disabled:hover,
.dark .teambar button:disabled:active {
    color: #fff;
    background: rgba(27, 6, 78, 0.7);
    border-color: #7763c1;
}

.dark .teambar button:hover {
    background: rgba(148, 122, 233, 0.3);
    color: #f1f1f1;
    border: 1px solid #967de2;
}

.dark .utilichart h3,
.dark .dexentry h3,
.dark .resultheader h3 {
    background: rgba(66, 51, 123, 0.8);
    color: #f1f1f1;
    border: 1px solid #c5acff;
}

.dark .teambuilder-results .result a.cur {
    border-color: #433677;
    background: rgba(27, 6, 78, 0.3);
}

.dark .teambuilder-results .result a.hover,
.dark .teambuilder-results .result a:hover,
.dark .teambuilder-results .result a.cur:hover,
.dark .setmenu button:hover,
.dark .teamlist button:hover {
    border-color: #967de2;
    background: rgba(148, 122, 233, 0.2);
    color: #fff;
}

/* Ladder */
.dark .ladder table,
.dark .ladder td,
.dark .ladder th {
    border: 1px solid #c5acff;
}

.dark .ladder th {
    background: #d8c7ff;
    color: #000;
}

/* Battle */
.dark .whatdo {
    color: #f0e9ff;
}

.dark .battle-controls {
    background: transparent;
}

.dark .ps-room.ps-room-opaque,
.dark .battle-log-add {
    background: rgba(27, 6, 78, 0.5);
}

.dark .battle-log h2 {
    background: rgba(27, 6, 78, 0.5);
    border: 1px solid #c5acff;
    border-left: none;
}

.dark .battle-log,
.dark .battle-log-add {
    border: 1px solid #c5acff;
}

.dark .battle-log,
.dark .userlist-minimized {
    background: rgba(27, 6, 78, 0.7);
    color: #f0e9ff;
}

.dark .userlist-maximized {
    background: rgba(27, 6, 78, 0.8);
    color: #f0e9ff;
}

.dark .userlist-minimized {
    border-bottom: 1px solid #c5acff;
}

.dark .userlist-minimized .userlist-count:hover,
.dark .userlist-maximized .userlist-count:hover {
    background: rgba(27, 6, 78, 0.5);
}

.dark .battle-log .chat > strong,
.dark .battle-log .chat > em,
.dark .battle-log .chat > q {
    color: #c7b0ff !important;
}

.dark .battle-log .rated strong {
    color: #1d006b;
    background: #c6aeff;
}

.dark .broadcast-red,
.dark .broadcast-blue {
    background-color: #c6aeff;
    color: #1e0858;
}

.dark .highlighted {
    background: rgba(198, 174, 255, 0.3);
}

.dark .chat code,
.dark .ps-popup code,
.dark .chat .spoiler:hover code,
.dark .chat .spoiler:active code,
.dark .chat .spoiler-shown code {
    border-color: #9177f1;
    background: rgb(27, 6, 78);
}

.dark .rightbar,
.dark .leftbar {
    background-color: rgba(27, 6, 78, 0.5);
    border-left: 1px solid rgb(150, 125, 226);
    color: #c4aaff;
}

.dark .button.disabled,
.dark .button.disabled:hover,
.dark .button.disabled:active,
.dark .switchmenu button.disabled,
.dark .switchmenu button:disabled,
.dark .movemenu button:disabled {
    background: #c4aaff !important;
    border-color: #9177f1 !important;
    color: #524b7c !important;
    font-weight: 600;
}

.dark small.type,
.dark small.pp {
    text-shadow: 0 0 20px rgb(0, 0, 0), 0 0 20px rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.dark #tooltipwrapper {
    color: #f7f7f7;
}

.dark #tooltipwrapper .tooltip {
    border: 1px solid #c4aaff;
    background: rgba(27, 6, 78, 0.8);
}

.dark .weather {
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.35);
}

@media (max-height: 570px) and (min-width: 440px) { 
    .dark .controls {
        background: rgba(27, 6, 78, 0.8);
    }
}

.dark *:focus {
    border-color: #45386f;
    box-shadow: 0 0 4px #c3a7ff, 0 0 4px #c3a7ff;
}

.dark hr {
    border-top: 1px solid #987fdb;
}

/* Scrollbar */
.dark .folderpane::-webkit-scrollbar {
    width: 0px;
}

.dark ::-webkit-scrollbar {
    width: 8px;
}

.dark ::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-color: rgba(27, 6, 78, 0.6);
    border-radius: 5px;
}

.dark ::-webkit-scrollbar-track-piece {
    background-color: rgba(27, 6, 78, 0.4);
    background-clip: padding-box;
}
